.room-code {
    height: 40px;
    border-radius: 8px;
    overflow: hidden;

    background: #fff;
    border: 1px solid #834afa;
    cursor: pointer;

    display: flex;

    div {
        background:#834afa;
        padding: 9px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span {
        display: block;
        align-self: center;
        flex: 1;
        padding: 0 16px 0 12px;
        width: 230px;
        font-size: 14px;
        font-weight: 500;
    }
}

@media screen and (max-width: 500px) {
    .room-code {
        border-radius: 20px;
        overflow: hidden;
    
        div {
            padding: 10px;
        }
        div::after{
            content: 'CopyCode';
            color: rgba(255, 255, 255, 0.74);
            padding-left: 5px;
            font-size: 10pt;
        }
        span {
            display: none;
        }
    }
}
